.quote-block {
    padding: 17rem 0 26.9rem;
    min-width: 0;
    @media (max-width: $md2+px) {
        padding: 10rem 0 16.9rem;
    }

    @media (max-width: $md3+px) {
        padding: 6rem 0 10rem;
    }

    @media (max-width: 374px) {
        padding: 5rem 0 6.9rem;
    }

    &.quote-block_white {
        background-color: #fff;

        & .quote-block__body {
            color: $textColor;
        }

        & .quote-block__btn {
            @media (min-width: 992px) {
                &:hover {
                    background-color: rgba($textColor, 0.1);
                }
            }
            & > span > svg {
                stroke: $textColor;
            }
        }

        & .quote-block__img {
            & svg {
                & path {
                    stroke: $textColor;
                    fill: $textColor;
                    &._q {
                        stroke: none;
                    }
                }
             
            }
        }
    }


    &__body {
        display: flex;
        color: #fff;
        position: relative;
        min-width: 0;
    }

    &__img {
        flex: 0 0 17.3%;
        margin-right: 16.6rem;

        @media (max-width: 1267px) {
            margin-right: 6rem;
        }

        @media (max-width: $md3+px) {
            margin-right: 3rem;
        }

        & img, & svg {
            width: 100%;
            height: auto;
        }
    }

    &__slider {
        min-width: 0;
        flex: 1 1 auto;

        & .swiper-slide {
            display: flex;
            flex-direction: column;

            &.swiper-slide-active {
                & .quote-block__author {
                    opacity: 1;
                }
            }
        }
    }

    &__text {
        font-size: 4.2rem;
        font-weight: 300;
        line-height: 1.4em;
        margin-bottom: 9.9rem;
        flex: 1 1 auto;

        @media (max-width: $md3+px) {
            font-size: 3.2rem;
            margin-bottom: 5rem;
        }

        @media (max-width: 575px) {
            font-size: 2.2rem;
            margin-bottom: 2rem;
            font-weight: 400;
        }
        @media (max-width: 374px) {
            font-size: 1.6rem;
        }
    }

    &__author {
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 1.4em;
        text-align: left;
        padding-right: 35rem;
        transition: all .2s ease;
        opacity: 0;
        @media (max-width: $md3+px) {
            font-size: 2.2rem;
            padding-right: 0;
        }

        @media (max-width: 374px) {
            font-size: 1.4rem;
        }
    }

    &__slider-control {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        display: flex;
        justify-content: flex-end;
        transform: translateY(30%) translateX(2rem);

        @media (max-width: $md3+px) {
            transform: translate(0);
            position: static;
        }

        & .swiper-pagination {
            position: static;
            width: 12.1rem;
            flex: 0 0 12.1rem;
            height: 10.9rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            font-weight: 500;
            text-transform: uppercase;

            @media (max-width: $md3+px) {
                width: 9rem;
                flex: 0 0 9rem;
                height: 8rem;
            }

            @media (max-width: 374px) {
                font-size: 1.6rem;
            }

            & > span {
                margin: 0 0.6rem;
            }
        }
    }

    &__btn {
        width: 12.1rem;
        flex: 0 0 12.1rem;
        height: 10.9rem;
        cursor: pointer;
        transition: all .3s ease;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: 992px) {
            &:hover {
                background-color: rgba(#fff, 0.1);
            }
        }

        @media (max-width: $md3+px) {
            width: 9rem;
            flex: 0 0 9rem;
            height: 8rem;
            
        }

        & > span {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 1.5rem;
            width: 1.5rem;
            height: 2.4rem;

            @media (max-width: 374px) {
                transform: scale(0.6);
            }

            & svg {
                width: 100%;
                height: auto;
                stroke: #fff;
                fill: none;
            }
        }
        &_prev {

        }

        &_next {
        }
    }
}
