@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// ==== FONTS ===========================================================================================
@import "fonts";
// ==== // FONTS ===========================================================================================

// ==== VARS ===========================================================================================
@import "vars"; 
// ==== // VARS ===========================================================================================


// ==== НОРМАЛАЙЗ ===========================================================================================
@import "normalize";
// ==== // НОРМАЛАЙЗ ===========================================================================================

//<MIXINE>===============================================================================================
@import "mixins.scss";
//</MIXINE>===============================================================================================

//<ICOMOON>===============================================================================================
//@import "../icomoon/style";
//</ICOMOON>===============================================================================================

//<FANCYBOX>===============================================================================================
//@import "plagins/fancybox.scss";
//<FANCYBOX>===============================================================================================

// ==== PLAGINS ===========================================================================================
@import "plagins/swiper-bundle";
//@import "plagins/drift-basic";
// ==== // PLAGINS ===========================================================================================

// ==== FORM STYLE DEFAULT ===========================================================================================
@import "forms";
// ==== FORM STYLE DEFAULT ===========================================================================================

// ==== BORDER ===========================================================================================
@import "../common/burger/burger";
// ==== BORDER ===========================================================================================

// ==== POPUP ===========================================================================================
//@import "common/popup/popup";
// ==== // POPUP ===========================================================================================



* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	font-size: 10px;

	@media (min-width: 992px) {
		font-size: 7.5px;
	}

	@media (min-width: 1920px) {
		font-size: 10px;
	}
}
html,
body {
	height: 100%;
	min-width: $minwidth;
	margin: 0 auto;
}
body {
	line-height: 1;
	font-family: $mainFontFamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $textColor;
	font-size: 1.4rem;

	opacity: 0;
	transition: opacity .8s ease;

	&.lock {
		overflow: hidden;
	}

	&.is-load {
		opacity: 1;
	}

}

input,
button,
textarea {
	font-family: $mainFontFamily;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}



.center {
	text-align: center;
}


.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: #fff;
	&.loaded {
	}
}

.page {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}


.container {
	max-width: 143.5rem;
	margin: 0 auto;
	padding: 0 1.5rem;
}

.container-big {
	max-width: 182.5rem;
	margin: 0 auto;
	padding: 0 1.5rem;
}

.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.logo {
	&-wrap {
		position: fixed;
		z-index: 60;
		top: 0;
		left: 50%;
		width: 100%;
		transform: translate(-50%, 0);
		top: 6.7rem;
		pointer-events: none;
		mix-blend-mode: difference;

		@media (max-width: $md2+px) {
			top: 1.5rem;
		}
	}

	pointer-events: auto;
	max-width: 7.5rem;
	width: 100%;
	position: relative;
	display: block;

	@media (max-width: $md3+px) {
		max-width: 5rem;
	}
	
	& img {
		width: 100%;
	}

	& svg {
		width: 100%;
		height: auto;
		& path {
			fill: #fff;
			
		}
	}
}


// === title ========================================================================
.title-1 {
	font-family: $mainFontFamily;
	font-size: 11.5rem;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0.6em;

	@media (max-width: $md2+px) {
		font-size: 10rem;
	}

	@media (max-width: $md3+px) {
		font-size: 8rem;
		margin-bottom: 1.5rem;
	}

	@media (max-width: 575px) {
		font-size: 5.5rem;
	}
	@media (max-width: $md4+px) {
		font-size: 4rem;
		margin-bottom: 1rem;
	}
}
.title-2 {
	font-size: 7rem;
	font-weight: 700;
	line-height: 1em;
	text-transform: uppercase;

	@media (max-width: $md3+px) {
		font-size: 5.6em;
	}
	@media (max-width: $md3+px) {
		font-size: 4.6rem;
	}
}

.title-3 {
	font-size: 5.2rem;
	font-weight: 300;
	line-height: 1.25em;

	@media (max-width: $md3+px) {
		font-size: 4.2rem;
	}
	@media (max-width: $md3+px) {
		font-size: 3.6rem;
	}
}

.title-4 {
	color: #ffffff;
	font-size: 4.2rem;
	font-weight: 700;
	line-height: 1.547em;

	@media (max-width: $md3+px) {
		font-size: 3.2rem;
	}
}

.title-5 {


}
.title-6 {


}

.suptitle {

}
.subtitle {

}

.text {

}
// === and title ========================================================================



// === btn ========================================================================
.btn-default {
	color: $textColor;
	font-size: 1.9rem;
	font-weight: 500;
	line-height: 1em;
	text-transform: uppercase;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0.5em 2.368em;
	min-height: 3.421em;
	border-radius: 999px;
	border: 0.2rem solid $textColor;
	transition: all .3s ease;
	white-space: nowrap;

	&.btn-default_white {
		color: #fff;
		border-color: #fff;
	}

	&.btn-default_gray {
		color: rgba(#fff, 0.3);
		border-color: rgba(#fff, 0.3);
	}

	@media (max-width: $md4+px) {
		font-size: 1.6rem;
	}

	@media (min-width: 992px) {
		&:hover {
			background-color: $mainColor;
			color: #fff;
			border-color: $mainColor;
		}
	}
}

button.btn-default {
	
}

// === and btn ========================================================================

.input {

}

.textarea {

}

.link {
	color: #211a1b;
	font-size: 1.9rem;
	line-height: 1em;
	transition: all .3s ease;
	font-weight: 700;

	&.link_white {
		color: #fff;
	}
	
	@media (min-width: 992px) {
		&:hover {
			color: $mainColor;
		}
	}
}


// === TEXT CONTETN BLOCK ========================================================================
.text-content {
	color: #ffffff;
	font-size: 2.7rem;
	font-weight: 400;
	line-height: 1.63em;

	@media (max-width: $md3+px) {
		font-size: 1.9rem;
	}

	& h1 {}
	& h2 {

	}
	& h3 {}
	& h4 {
		color: #ffffff;
		font-size: 4.2rem;
		font-weight: 700;
		line-height: 1.547em;
		margin-bottom: 0.7em;
		@media (max-width: $md3+px) {
			font-size: 3.2rem;
		}
	}

	& h5 {

	}
	& h6 {}

	& p {
		margin-bottom: 1.06em;
	}

	& ul {

	}

	& ol {}

	& figure {}

}
// === and TEXT CONTETN BLOCK ========================================================================


// ==== BLOCKS =====================================================
@import "../common/header/#header";
@import "../common/footer/#footer";
@import "../common/events-slider/events-slider";
@import "../common/johnnyl-block/johnnyl-block";
@import "../common/main-slider/main-slider";
@import "../common/quote-block/quote-block";
@import "../common/social-block/social-block";
// ==== BLOCKS =====================================================


// ==== PAGES =====================================================

	// ==== HOME =====================================================
	@import "pages/#home";
	// ==== AND HOME =====================================================
	
	// ==== EVENTS LISTING =====================================================
	@import "pages/#events-listing";
	// ==== AND EVENTS LISTING =====================================================
	
	// ==== EVENTS SINGLE DETAIL PAGE =====================================================
	@import "pages/#events-detail";
	// ==== AND EVENTS SINGLE DETAIL PAGE =====================================================
	
// ==== AND PAGES =====================================================
