.footer {
    background-color: #f5f5f5;
    padding: 194px 0 102px;

    @media (max-width: 1267px) {
        padding: 50px 0 102px;
    }

    @media (max-width: $md3+px) {
        padding-bottom: 60px;
    }

    &__body {
        position: relative;
    }

    &__decor {
        position: absolute;
        bottom: -1px;
        right: -177px;
        width: 180px;

        & img {
            width: 100%;
        }

        @media (max-width: 1680px) {
            right: 0
        }

        @media (max-width: $md4+px) {
            bottom: 100px;
            width: 120px;
        }
    }

    &__row-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 224px;

        @media (max-width: 1267px) {
            display: block;
            margin-bottom: 120px;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 40px;
        }
    }

    &__row-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 130px;

        @media (max-width: 1267px) {
            margin-bottom: 100px;
        }
    }

    &__row-3 {
    }

    &__logo {
        width: 100%;
        max-width: 278px;
        margin-right: 30px;
        margin-bottom: 60px;
        margin-top: 9px;
        & img {
            width: 100%;
        }

        @media (max-width: $md3+px) {
            margin: 0 auto 60px;
        }
    }

    &__form {
        margin-bottom: 40px;
        flex: 1 1 auto;
        max-width: 929px;

        @media (max-width: 1267px) {
            max-width: none;
        }

    }


    &__nav {
        flex: 1 1 auto;
    }


    &__copy {
        font-size: 19px;
        font-weight: 400;
        line-height: normal;

        @media (max-width: 374px) {
            font-size: 15px;
        }

        & > span {
            margin: 0 11px;
        }

        & > a {
            color: $textColor;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}



.form-footer {
    border-bottom: 2px solid $textColor;
    &__title {
        font-size: 49px;
        font-weight: 300;
        line-height: 65px;
        line-height: 1.25em;
        margin-bottom: 34px;

        @media (max-width: $md3+px) {
            font-size: 39px;
            margin-bottom: 20px;
            text-align: center;
        }

        @media (max-width: $md4+px) {
            font-size: 29px;
            margin-bottom: 10px;
        }
    }

    &__inner {
        display: flex;
    }

    &__input {
        flex: 1 1 auto;
        width: 100%;
        min-height: 82px;
        display: flex;
        align-items: center;
        color: $textColor;
        font-size: 24px;
        font-weight: 400;
        background-color: transparent;

        &::placeholder {
            color: rgba($textColor, 0.53);
            font-size: 24px;
            font-weight: 400;

            @media (max-width: $md4+px) {
                font-size: 18px;
            }
        }

        @media (max-width: $md4+px) {
            font-size: 18px;
            min-height: 62px;
        }
    }

    &__button {
        flex: 0 0 180px;
        min-height: 82px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 10px 20px;
        font-size: 19px;
        font-weight: 700;
        text-transform: uppercase;
        background-color: transparent;
        transition: all .3s ease;


        @media (max-width: $md4+px) {
            font-size: 15px;
            min-height: 62px;
            flex: 0 0 135px;
        }

        @media (min-width: 992px) {
            &:hover {
                color: $mainColor;

                & > svg {
                    transform: translate(5px, -50%);
                    stroke: $mainColor;
                }
            }
        }
        & > svg {
            fill: none;
            stroke: $textColor;
            width: 13px;
            height: auto;
            position: absolute;
            top: 50%;
            right: 3px;
            transition: all .3s ease;
            transform: translateY(-50%);

            @media (max-width: $md4+px) {
                width: 9px;
            }
        }
    }
}



.nav-footer {
    display: flex;
    flex-wrap: wrap;
    &__item {
        margin-bottom: 40px;
        flex: 1 1 auto;
        max-width: 238px;
        min-width: 170px;
        padding-right: 20px;
    }

    &__title {
        font-size: 19px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        display: block;
        margin-bottom: 24px;
        transition: all .3s ease;
        cursor: pointer;
        color: $textColor;
        &:hover {
            color: $mainColor;
        }
    }

    &__list {
        & > li {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }

    &__link {
        font-size: 19px;
        font-weight: 400;
        line-height: normal;
        transition: all .3s ease;
        color: $textColor;
        &:hover {
            color: $mainColor;
        }
    }
}



.social-block {
    display: flex;
    & > li {
        &:not(:last-child) {
            margin-right: 39px;
        }
    }
    &__link {
        height: 52px;
        display: inline-block;

        & > svg {
            height: 100%;
            width: auto;
            fill: $textColor;
            transition: all .3s ease;

            @media (min-width: 992px) {
                &:hover {
                    fill: $mainColor;
                }
            }
        }
    }
}
