.footer {
    background-color: #f5f5f5;
    padding: 19.4rem 0 10.2rem;

    @media (max-width: 1267px) {
        padding: 5rem 0 10.2rem;
    }

    @media (max-width: $md3+px) {
        padding-bottom: 6rem;
    }

    &__body {
        position: relative;
    }

    &__decor {
        position: absolute;
        bottom: -0.1rem;
        right: -17.7rem;
        width: 18rem;

        & img {
            width: 100%;
        }

        @media (max-width: 1680px) {
            right: 0
        }

        @media (max-width: $md4+px) {
            bottom: 10rem;
            width: 12rem
        }
    }

    &__row-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 22.4rem;

        @media (max-width: 1267px) {
            display: block;
            margin-bottom: 12rem;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 4rem;
        }
    }

    &__row-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 13rem;

        @media (max-width: 1267px) {
            margin-bottom: 10rem;
        }
    }

    &__row-3 {
    }

    &__logo {
        width: 100%;
        max-width: 27.8rem;
        margin-right: 3rem;
        margin-bottom: 6rem;
        margin-top: 0.9rem;
        & img {
            width: 100%;
        }

        @media (max-width: $md3+px) {
            margin: 0 auto 6rem;
        }
    }

    &__form {
        margin-bottom: 4rem;
        flex: 1 1 auto;
        max-width: 92.9rem;

        @media (max-width: 1267px) {
            max-width: none;
        }

    }


    &__nav {
        flex: 1 1 auto;
    }


    &__copy {
        font-size: 1.9rem;
        font-weight: 400;
        line-height: normal;

        @media (max-width: 374px) {
            font-size: 1.5rem;
        }

        & > span {
            margin: 0 1.1rem;
        }

        & > a {
            color: $textColor;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}



.form-footer {
    border-bottom: 2px solid $textColor;
    &__title {
        font-size: 4.9rem;
        font-weight: 300;
        line-height: 6.5rem;
        line-height: 1.25em;
        margin-bottom: 3.4rem;

        @media (max-width: $md3+px) {
            font-size: 3.9rem;
            margin-bottom: 2rem;
            text-align: center;
        }

        @media (max-width: $md4+px) {
            font-size: 2.9rem;
            margin-bottom: 1rem;
        }
    }

    &__inner {
        display: flex;
    }

    &__input {
        flex: 1 1 auto;
        width: 100%;
        min-height: 8.2rem;
        display: flex;
        align-items: center;
        color: $textColor;
        font-size: 2.4rem;
        font-weight: 400;
        background-color: transparent;

        &::placeholder {
            color: rgba($textColor, 0.53);
            font-size: 2.4rem;
            font-weight: 400;

            @media (max-width: $md4+px) {
                font-size: 1.8rem;
            }
        }

        @media (max-width: $md4+px) {
            font-size: 1.8rem;
            min-height: 6.2rem;
        }
    }

    &__button {
        flex: 0 0 18rem;
        min-height: 8.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 1rem 2rem;
        font-size: 1.9rem;
        font-weight: 700;
        text-transform: uppercase;
        background-color: transparent;
        transition: all .3s ease;


        @media (max-width: $md4+px) {
            font-size: 1.5rem;
            min-height: 6.2rem;
            flex: 0 0 13.5rem;
        }

        @media (min-width: 992px) {
            &:hover {
                color: $mainColor;

                & > svg {
                    transform: translate(0.5rem, -50%);
                    stroke: $mainColor;
                }
            }
        }
        & > svg {
            fill: none;
            stroke: $textColor;
            width: 1.3rem;
            height: auto;
            position: absolute;
            top: 50%;
            right: 0.3rem;
            transition: all .3s ease;
            transform: translateY(-50%);

            @media (max-width: $md4+px) {
                width: 0.9rem;
            }
        }
    }
}



.nav-footer {
    display: flex;
    flex-wrap: wrap;
    &__item {
        margin-bottom: 4rem;
        flex: 1 1 auto;
        max-width: 23.8rem;
        min-width: 17rem;
        padding-right: 2rem;
    }

    &__title {
        font-size: 1.9rem;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        display: block;
        margin-bottom: 2.4rem;
        transition: all .3s ease;
        cursor: pointer;
        color: $textColor;
        &:hover {
            color: $mainColor;
        }
    }

    &__list {
        & > li {
            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }
    }

    &__link {
        font-size: 1.9rem;
        font-weight: 400;
        line-height: normal;
        transition: all .3s ease;
        color: $textColor;
        &:hover {
            color: $mainColor;
        }
    }
}



.social {
    display: flex;
    & > li {
        &:not(:last-child) {
            margin-right: 3.9rem;
        }
    }
    &__link {
        height: 5.2rem;
        display: inline-block;

        & > svg {
            height: 100%;
            width: auto;
            fill: $textColor;
            transition: all .3s ease;

            @media (min-width: 992px) {
                &:hover {
                    fill: $mainColor;
                }
            }
        }
    }
}
