.home {
    background-color: #211a1b;

}







.category-block {
    // margin-bottom: 145px;
    // @include mb();

    &__body {
        display: flex;
        transform: translateY(-79px);

        @media (max-width: $md2+px) {
            display: block;
        }
    }   

    &__item {
        position: relative;
        display: flex;
        flex: 1 1 auto;
        min-height: 821px;
        overflow: hidden;
        text-align: center;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 126px;

        @media (max-width: $md2+px) {
            min-height: 400px;
            padding: 30px 15px 50px;
        }

        @media (min-width: 992px) {
            &:hover {
                & .category-block__img {
                    & img {
                        transform: scale(1.2);
                    }

                    &:before {
                        transform: translateY(0%);
                    }
                }

                & .category-block__title {
                    transform: translateY(0);
                }

                & .category-block__subtitle {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: hidden;

        &:before {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50%;
            z-index: 1;
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            transition: all .4s ease;
            transform: translateY(25%);

            @media (max-width: $md2+px) {
                ransform: translateY(5%);
            }
        }
        
        & img {
            transition: all .4s ease;
        }
    }


    &__title {
        position: relative;
        z-index: 2;
        color: #fff;
        font-size: 54px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1em;
        margin-bottom: 20px;
        transition: all .4s ease;
        transform: translateY(100px);

        @media (max-width: $md2+px) {
            transform: translateY(0px);
        }
    }   

    &__subtitle {
        position: relative;
        z-index: 3;
        color: #fff;
        font-size: 30px;
        line-height: 1em;
        transition: all .4s ease;
        transform: translateY(115px);
        opacity: 0;

        @media (max-width: $md2+px) {
            transform: translateY(0px);
            opacity: 1;
        }
    }
}

