.venue-hire-page {
    & .main-slider_simple {
        margin-bottom: 15.4rem;
        @include mb();
    }

    & .events-listing {
        margin-bottom: 0;
    }

    & .quote-block {
        padding: 11rem 0 26.9rem;

        @media (max-width: $md2+px) {
            padding: 0rem 0 16.9rem;
        }
    
        @media (max-width: $md3+px) {
            padding: 0rem 0 10rem;
        }
    
        @media (max-width: 374px) {
            padding: 0rem 0 6.9rem;
        }
    }
}