.events {
    margin-bottom: 26.7rem;
    @include mb();

    &__body {
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 2.3rem;

        & .btn-default {
            margin-bottom: 4.5rem;
        }

        @media (max-width: $md2+px) {
            margin-bottom: 0;
        }

        @media (max-width: $md3+px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &__head-title {
        margin-right: 3rem;
        color: #fff;
        font-size: 5.2rem;
        font-weight: 300;
        line-height: 1.25em;
        margin-bottom: 2.5rem;

        @media (max-width: $md3+px) {
            font-size: 4.2rem;
            margin-right: 0;
        }
    }

    &__slider {
        margin-bottom: 5.2rem;


        @media (max-width: $md3+px) {
            margin-bottom: 2rem;
        }

        &.swiper-container {
            overflow: visible;
        }

        & .swiper-slide {
            display: flex;
            box-shadow: 0.4rem 3.3rem 2.6rem rgba(0, 0, 0, 0.16);
            background-color: #fff;
            @media (max-width: $md2+px) {
                flex-direction: column-reverse;
            }
        }
    }

    &__img {
        flex: 1 1 auto;

        @media (max-width: $md2+px) {
            height: 50rem;
        }
    }

    &__text-wrap {
        flex: 0 0 40.5rem;
        padding: 5.2rem 1.5rem;
        text-align: center;
        min-height: 71.6rem;
        display: flex;
        flex-direction: column;

        @media (max-width: $md2+px) {
            min-height: auto;
        }

        @media (max-width: $md3+px) {
            padding: 3rem 1.5rem;
        }

        & .btn-default {
            align-self: center;
            margin-bottom: 3.2rem;
        }
    }

    &__label {
        color: $textColor;
        font-size: 2.5rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.4em;
        position: relative;
        margin-bottom: 10rem;
        display: inline-block;
        align-self: center;
        &:before {
            position: absolute;
            content: '';
            left: 50%;
            transform: translate(-50%, 1rem);
            bottom: 0;
            height: 0.3rem;
            background-color: $textColor;
            width: 110%;
        }

        @media (max-width: $md2+px) {
            margin-bottom: 4rem;
        }

        @media (max-width: $md3+px) {
            font-size: 2rem;
        }
    }

    &__date {
        font-size: 6.1rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1em;
        margin-bottom: 2.2rem;

        @media (max-width: $md3+px) {
            font-size: 5rem;
            margin-bottom: 1rem;
        }
    }

    &__time {
        font-size: 3rem;
        font-weight: 400;
        line-height: 1em;
        margin-bottom: 4.7rem;

        @media (max-width: $md2+px) {
            margin-bottom: 2rem;
        }

        @media (max-width: $md3+px) {
            font-size: 2.2rem;
        }
    }

    &__title {
        font-size: 3rem;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 3.7rem;

        @media (max-width: $md2+px) {
            margin-bottom: 2rem;
        }

        @media (max-width: $md3+px) {
            font-size: 2.2rem;
        }
    }

    &__slider-controll {
        display: flex;
        align-items: center;

        & .swiper-scrollbar {
            flex: 1 1 auto;
            height: 0.5rem;
            border-radius: 0;
            background-color: rgba(#fff, 0.3);
            & .swiper-scrollbar-drag {
                background-color: #fff;
                border-radius: 0;
            }
        }
    }

    &__slider-btn {
        padding: 0.5rem;
        transition: all .3s ease;
        flex: 0 0 auto;
        transition: all .2s ease;
        cursor: pointer;
        @media (min-width: 992px) {
            &:hover {
                background-color: rgba(#fff, 0.1);
            }
        }

        &.swiper-button-disabled {
            cursor: auto;

            @media (min-width: 992px) {
                &:hover {
                    background-color: rgba(#fff, 0);
                }
            }

            & > span {
                & svg {
                    stroke: rgba(#fff, 0.4);
                }
            }
        }

        & > span {
            display: block;
            width: 1.5rem;
            height: 2.4rem;

            & svg {
                width: 100%;
                height: auto;
                fill: none;
                stroke: #fff;
            }
        }
    }

    &__slider-btn-prev {
        margin-right: 3.5rem;
        transform: translateX(-0.5rem);
    }

    &__slider-btn-next {
        margin-left: 3.5rem;
        transform: translateX(0.5rem);
    }
}
