.johnnyl-block {
    padding: 17.7rem 0 28.6rem;
    background-color: #fff;

    @media (max-width: $md2+px) {
        padding: 10rem 0 18.6rem;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $md2+px) {
            display: block;
        }
    }

    &__column-1 {
        flex: 1 1 auto;
        margin-right: 4rem;
        max-width: 62.4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 8.6rem 0 3rem;

        @media (max-width: $md2+px) {
            padding-top: 0;
        }

        & .btn-default {
            align-self: flex-start;


            @media (max-width: $md2+px) {
                align-self: center;
            }
        }

        @media (max-width: $md2+px) {
            text-align: center;
            margin: 0 auto 3rem;
            align-items: center;
        }
    }

    &__column-2 {
        flex: 0 0 calc(43.038%);
        text-align: center;
        & img {
            max-width: 100%;
            height: auto;

        }
    }

    &__title {
        font-size: 5.2rem;
        font-weight: 300;
        line-height: 1.25em;
        margin-bottom: 5.7rem;

        @media (max-width: $md3+px) {
            font-size: 4.2rem;
        }
        @media (max-width: $md4+px) {
            font-size: 2.8rem;
            margin-bottom: 2rem;
        }
    }

}
